html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}
*{
    font-family: 'Gilroy Regular', sans-serif;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #222226;
    background-size: 100vw 100vh;
    font-family: 'Gilroy Regular', sans-serif;
    color: white;
}
body::-webkit-scrollbar {
    width: 10px
}
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
}
body::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(95, 95, 95);
    background-clip: padding-box;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: lightgray;
}
a {
    color: #a9e30b;
}
@font-face {
    font-family: 'Gilroy Light';
    src: url(fonts/Gilroy-Light.otf);
}
@font-face {
    font-family: 'FiraCode';
    src: url(fonts/FiraCode-Medium.ttf);
}
@font-face {
    font-family: 'Gilroy Bold';
    src: url(fonts/Gilroy-Bold.otf);
}
@font-face {
    font-family: 'Gilroy Regular';
    src: url(fonts/Gilroy-Regular.otf);
}
@font-face {
    font-family: 'Gilroy SemiBold';
    src: url(fonts/Gilroy-Semibold.otf);
}
@font-face {
    font-family: 'Gotham Rounded';
    src: url(fonts/GothamRnd-Medium.otf);
}
@font-face {
    font-family: 'Gilroy Medium';
    src: url(fonts/Gilroy-Medium.otf);
}
::selection {
    background: grey;
  }
.container {
    width: 100%;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    background-color: #222226;
}
.my-logo {
        cursor: pointer;
        transition: .5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin-right: auto;
        margin-left: 50px;
}
a #jstar-logo {
    width: 40px;
}
.my-logo:hover {
    transform:scale(1.1);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
}
nav ul {
    width: fit-content;
    padding: 0;
    float: right;
}
nav li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    margin-right: 25px;
    transition: .5s ease-in-out;
}
nav li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Gilroy Medium', sans-serif;
}
nav li::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background: white;
    border: 0px solid white;
    border-radius: 2px;
    transition: width .5s;
}
nav li:hover::after {
    width: 101%;
    transition: width .5s;
}
nav li:hover {
    filter: invert(0%) sepia(97%) saturate(3431%) hue-rotate(17deg) brightness(91%) contrast(95%);
}
.house {
    margin-left: 0;
}
.contact {
    margin-right: 0;
}
.house-logo {
    width: 20px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    margin-right: 15px;
}
.user-logo {
    width: 20px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    margin-right: 15px;
}
.rocket-logo {
    width: 20px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    margin-right: 15px;
}
.mail-logo {
    width: 20px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    margin-right: 15px;
}
nav #hamburger {
    color: white;
    font-size: 35px;
    cursor: pointer;
    float: right;
    width: fit-content;
    margin-left: 75px;
    display: none;
}
@media screen and (max-width: 1000px) {
    html {
        scroll-padding-top: 90px;
    }
    .about-me-desc {
        width: 90%;
    }
    nav ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        background-size: 100%;
        top: 64px;
        left: -100%;
        text-align: center;
        transition: all .5s ease-in-out;
    }
    nav li {
        display: block;
        margin: 0;
        line-height: 150px;
    }
    nav #hamburger {
        display: block;
    }
    nav ul.show {
        left: 0;
    }
    .bottom-bar-text {
        display: none;
    }
    .bottom-bar-container {
        text-align: center;
        padding-top: 0px;
    }
}

.artwork {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-width: 250px;
    max-width: 500px;
    clip-path: circle();
}
.first-last-name {
    font-size: 2.3125em;
    font-family:'Gilroy Bold', sans-serif;
    color: white;
    letter-spacing: 1.5px;
    text-align: center;
}
.occupation {
    font-family:'Firacode', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    color: white;
    line-height: 1.7em;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.occupation-colored-text {
    font-family:'Firacode', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
}
.box {
    text-align: center;
}
.socials {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(103%);
    width:40px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1.5em;
    text-align: center;
    transition: .5s ease;
}
.socials:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    filter: invert(87%) sepia(54%) saturate(3283%) hue-rotate(16deg) brightness(88%) contrast(103%);
}
.behance-logo {
    width: auto;
    height: 50px;
    position: relative;
    top: 5px;
}



.about-me-panel {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: fit-content;
    height: 30px;
    min-width: 50px;
    max-width: 250px;
    border: 10px solid white;
    border-radius: 5px;
    align-items: center;
    margin-top: 150px;
}

.about-me-text {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 2em;
    color: #222226;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    transition: .5s ease;
}
.about-me-text:hover {
    color: yellowgreen;
}
.hello {
    font-family: 'FiraCode', sans-serif;
    font-weight: lighter;
    color: white;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    text-align: center;
    line-height: 30px;
    transition: .5s ease;
}
.hello:hover {
    color: #a9e30b;
}
.about-me-desc {
    font-family: 'Gilroy Light', sans-serif;
    font-size: 16px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    max-width: 950px;
    text-align: center;
    line-height: 35px;
}


.projects-panel {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: fit-content;
    height: 30px;
    min-width: 50px;
    max-width: 250px;
    border: 10px solid white;
    border-radius: 5px;
    align-items: center;
    margin-top: 150px;
}
.projects-text {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 32px;
    color: #222226;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    padding-left: 30px;
    padding-right: 30px;
}
.projects-text:hover {
    color: yellowgreen;
}
.project-name-box {
    text-align: center;
    transition: .5s ease;
    color: white;
}
.project-name-box ul {
    padding: 0;
}
.project-name-box ul li {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 24px;
    list-style: none;
    transition: .5s ease;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
.project-name-box ul li:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    filter: invert(0%) sepia(54%) saturate(3283%) hue-rotate(16deg) brightness(88%) contrast(103%);
}
.project-name-box ul li::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background: white;
    border: 0px solid white;
    border-radius: 2px;
    transition: width .5s;
}
.project-name-box ul li:hover:after {
    width: 101%;
    transition: width .5s;
}
.weather-project {
    color: white;
    text-decoration: none;
    font-family: 'Gilroy Bold', sans-serif ;
}

.chatbot {
    color: white;
    text-decoration: none;
    font-family: 'Gilroy Bold', sans-serif ;
}

.contact-me {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 36px;
    transition: 1s ease;
    margin-top: 110px;
}
.contact-section {
    padding: 40px 0;
}
.contact-section h1{
    text-align: center;
    color: #ddd
}
.contact-border {
    width: 125px;
    height: 5px;
    background: #a9e30b;
    margin: 40px auto;
}
.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #a9e30b;
    opacity: 50%;
}
.contact-form-message {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-message:focus {
    box-shadow: 0 0 10px 4px #a9e30b;
    opacity: 50%;
}
textarea.contact-form-text {
    resize: none;
    height: 120px;
}
.contact-form-btn {
    float: right;
    border: 0;
    color: black;
    padding: 12px 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}
.contact-form-btn:hover {
    background: #a9e30b;
}


.bottom-bar-container {
    display: block;
    width: 95%;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.bottom-bar-logos {
    display: inline;
}
.bottom-bar-logos:hover {
    transform: scale(1.2);
}
.bottom-bar-github {
    width: 25px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.bottom-bar-linkedin {
    width: 25px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.bottom-bar-behance {
    width: 35px;
    height: auto;
    position: relative;
    top: 8.1px;
    margin-left: 20px;
    margin-right: 20px;
}
.bottom-bar-socials {
    transition: .5s ease-in-out;
}
.bottom-bar-socials:hover{
    filter: invert(72%) sepia(64%) saturate(606%) hue-rotate(26deg) brightness(102%) contrast(96%);
    transform: scale(1.2);
    position: relative;
}
.bottom-bar-text {
    max-width: fit-content;
    float: right;
    font-family: 'Firacode', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #494952;
    letter-spacing: -1px;
    transition: 1s ease;
}
.bottom-bar-text:hover{
    color: #a9e30b;
}